<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="company" xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Company Management</title>
  <link rel="shortcut icon" HREF="images/logo.jpg"/>

  <!-- css-->
  <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <!-- jQuery-->
  <script src="vendors/jquery/js/jQuery.js" type="text/javascript" xml:space="preserve"></script>

  <!-- jQuery Cookies management-->
  <script src="vendors/jquery/jquery-cookie/jquery.cookie.js" type="text/javascript" xml:space="preserve"></script>

  <!-- Angular-->
  <script src="vendors/angular/js/angular.min.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-file-upload.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-cookies.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.js" type="text/javascript" xml:space="preserve"></script>

  <!-- Own code-->
  <!-- Model-->

  <script src="js/model/Review.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/model/User.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/model/Application.js" type="text/javascript" xml:space="preserve"></script>
  <!-- Controllers-->
  <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/AppController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/SessionController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/UserController.js" type="text/javascript" xml:space="preserve"></script>
</head>
<body ng-show="sessionOpened" class="container" ng-controller="SessionController as sessionCtrl" ng-init="userAction=1;sessionCtrl.sessionControl()">
  <div>
    <img src="images/logo.jpg" id='logo' width="300" height="240" />
  </div>
  <h1>Welcome to the real company</h1>

  <div ng-controller="AppController as appCtrl">
  </div>

  <div ng-controller="UserController as usrCtrl" ng-show="$parent.userAction==1">
    <div id="mainMenuFilms">
      <h3>If want continue select the option:</h3><br/>
      <a href="#" ng-show="user.rol=='user'" ng-click="userOption=1">Request job</a>
      <a href="#" ng-show="user.rol=='admin'" ng-click="userOption=2">See reviews</a>
      <p>{{user.rol}}</p>
    </div>

  <div ng-show="userOption==1">
    <employment-application></employment-application>
  </div>

  <div ng-show="userOption==2">
    <review-management></review-management>
  </div>

  <div id="foot">
    <button class="btn btn-primary pull-left" onclick="location.reload()">Reload</button>
    <button class="btn btn-primary pull-left" ng-click="sessionCtrl.logOut()">Log out</button>
    <strong>Company of bosses</strong>
  </div>
  </div>

</body>
</html>
